:root {
    color-scheme: light dark;
}

body {
    width: 320px;
    padding: 10px;

    font-family: system-ui;
    text-align: center;
}

p {
    font-size: 12px;
}

.popup-body {
    min-width: 320px;
}


.popup-signup-features-missing {
    text-align: left;
    padding: 10px;
    width: 94%;
    font-size: 14px;
    text-decoration: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px;
    border-radius: 10px;
}

.popup-signup-features {
    margin-left: 10px;
    text-align: left;
    font-size: 14px;
}

.popup-signup-features-title {
    margin-left: 10px;
    text-align: left;
}

.popup-signup-features-item {
    margin-top: 6px;
}

.popup-signup-button {
    padding: 10px;
    width: 100%;
    font-size: 14px;
    text-decoration: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.popup-signup-hint {
    font-size: 11px;
}

.popup-signup-signin {
    text-decoration: bold;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
